@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff2), format('woff2');
}

html, body {
  font-family: 'Roboto', sans-serif;
}

@import "../node_modules/materialize-css/sass/materialize.scss";
@import "{mozfet:materialize-apirtc}/style.scss";

.js-dynaview-launcher {
  margin-top: 5px;
}
