@import "{}/node_modules/materialize-css/sass/components/_color-variables.scss";
// @import "{}/node_modules/materialize-css/sass/components/_variables.scss";

.apirtc-start-call-button:hover {
  cursor: pointer
}

.apirtc-end-call-button:hover {
  cursor: pointer
}

.apitrc-container {
  display: block;
  position: relative;
}

.local-container {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: auto;
  z-index: 1;
}

.local-video {
  width: 100%;
  height: auto;
  border-style: solid;
}

.remote-container {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
}

.remote-video {
  width: 100%;
  height: auto;
  background-color: white;
  border-style: solid;
}

.apirtc-buttons {
  display: block;
  position: absolute;
  margin-left: 2%;
}

/* Hide iOS Play Button */
video::button {
    display: none!important;
    -webkit-appearance: none;
}
